<div>
    <h2>List of products</h2>
    <button class="footer-button" (click)="onCreateProduct()">Create new product</button>
    <div class="products-container" *ngFor="let product of productList$ | async ">
        <div class="product-item">
            <h3>
                {{product.name}}
            </h3>
            <p>
                {{product.description}}
            </p>
            <div>
                <p>Category:{{product.category | uppercase }}</p>
                <p>{{product.price | currency:'USD'}}</p>
            </div>
            <button (click)="onEdit(product)">Edit</button>
            <button (click)="onDelete(product)">Delete</button>
        </div>
    </div>
</div>