<div class="contact-us-container">
    <h2>
        Contact us works beta component
    </h2>

    <span class="contact-us-item">Applicatio config: {{appConfig | json}}</span>
    <span class="contact-us-item">Random string: {{randomString}}</span>
    <span class="contact-us-item">
        <span class="user-config-item">
            <label>Email:</label>
            <input type="text" #userEmail>
        </span>
        <span class="user-config-item">
            <label>Login:</label>
            <input type="text" #userLogin>
        </span>
        <span class="user-config-item"><button (click)="setUserConfig()">set new config</button></span>
        <span class="user-config-item">User config: {{userConfig | json}}</span>      
    </span>
</div>