<div>
    <h2>List of products</h2>
    <div class="header">
        <div>Name</div>
        <div>Price</div>
        <div>Category </div>
    </div>
    <div *ngFor="let productItem of productList | async ">
        <app-product [product]="productItem" (buyProduct)="onBuy($event)" (viewProduct)="onGoToProductView($event)"
            (editProduct)="onEditProduct($event)">
        </app-product>
    </div>

    <div class="footer-container">
        <button class="footer-button" (click)="onAddNewProduct()">Add new product</button>
        <button class="footer-button" (click)="onGoToCart()">Go to cart</button>
    </div>
</div>
