.product-cell {
    display: inline-block;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 15%;
    text-align: center;
    height: 25px;
}

.product-container {
    border-left: 1px solid black;
    display: inline;
}

button {
    margin-left: 10px;
    margin-right: 10px;
}

.product-quantity {
    width: 75px
}
