<div appCustomHover class="product-container" (click)="onGoToProductView(product)">
    <span class="product-cell">{{product.name}}</span>
    <span class="product-cell">{{product.price | currency:'USD'}}</span>
    <span class="product-cell">{{product.category | uppercase }}</span>
</div>

<button (click)="onEdit(product)">Edit</button>
<button [disabled]=" !product.isAvailable" (click)="onBuy(product, productQuantity.value)">Move
    to the cart</button>
<input [disabled]="!product.isAvailable" type="number" min="0" class="product-quantity" #productQuantity>
