<header>
    <ul>
        <li>
            <a [routerLink]="['/products']">Products</a>
        </li>
        <li>
            <a routerLink="/cart">Cart</a>
        </li>
        <li>
            <a routerLink="/orders">Orders</a>
        </li>
        <li class="app-login">
            <a routerLink="/login">Log in</a>
        </li>

    </ul>

    <h1 class="app-title" style="text-align:center" #appTitle></h1>
</header>


<div class="app-container">
    <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'>
    </router-outlet>
    <div class="app-component">
        <app-contact-us></app-contact-us>
    </div>
</div>