<header>
    <ul>
        <li>
            <a [routerLink]="['/products']">Products</a>
        </li>
        <li>
            <a routerLink="/cart">Cart</a>
        </li>
        <li>
            <a routerLink="/orders">Orders</a>
        </li>
        <li>
            <a routerLink="/admin">Admin</a>
        </li>
        <li>
            <a routerLink="/test_page">Test page</a>
        </li>
        <li class="app-login">
            <a routerLink="/login">{{authService.isUserLoggedIn() ? 'Log out' : 'Log in'}}</a>
        </li>

    </ul>

    <h1 class="app-title" style="text-align:center" #appTitle></h1>
</header>


<div class="app-container">
    <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'>
    </router-outlet>
</div>