div.product div{
    display : inline-block;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 15%;
    text-align: center;
    height: 25px;
}

div.product{
    border-left: 1px solid black;
}

div.product button{
    margin-left: 10px;
}

div.product button{
    margin-left: 10px;
    border: 1px solid black;
    min-width: 30px;
}